.card{

   border: 1px solid rgb(37, 37, 37);
   border-radius: 15px;
   column-gap: 5px;
   text-align: center;
   height:210px;
   width: 230px;
   
   
}
*{
   margin: 0;
}

h3{
   margin: 15px 0;
}
 
.p2{
   margin-top: 3px;
   margin-bottom: 3px;
}
.p1{
   margin-top: 5px;
}


